doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title onesait memory game
body
  .container
    .container__inner
      header.header
        h1 onesait memory game  
      section.memory-board
      footer.footer
        ul
          li
            p 
              i.fas.fa-star.color-secondary.footer--margin-right
              span#score 0
          li    
            p 
              i.fas.fa-heart.color-danger.footer--margin-right
              span#attemps 3