.memory-board {
    padding: $--margin 0;
    &__message {
        height: 100%;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-gap: $--margin;
        h2 {
            font-size: rem(30);
        }
        p {
            font-size: rem(22);
        }
        button {
            @extend %animation-buttons;
            font-family: 'Soho', Helvetica, Arial, sans-serif !important;
            outline: 0;
            border-radius: rem(30);
            font-size: rem(22);
            background-color: $--color-onesait-logo;
            color: $--color-white;
            line-height: rem(40);
            cursor: pointer;
            padding: rem(8) rem(40);
            box-shadow: $--box-shadow;
            border: 0;
        }
    }
    &__grid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $--margin;
        grid-auto-rows: 1fr;
    }
}
