.memory-board {
    padding: $--margin 0;
    &__grid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $--margin;
        grid-auto-rows: 1fr;
    }
}   