.footer {
    border-top: rem(1) solid $--color-neutral;
    padding: $--margin 0;
    color: $--color-black;
    font-size: rem(18);
    text-align: center;
    ul {
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
    }
    &--margin-right {
        margin-right: rem(4);
    }
}